# Base de datos
DATABASE_URL="postgresql://user:password@localhost:5432/pos_carnavales?schema=public"

# JWT
JWT_SECRET="change-me-in-production"
JWT_EXPIRES_IN="8h"

# App
PORT=4000
NODE_ENV=development
